# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documentation
/doc/

# Dependency directories
node_modules/
jspm_packages/

# Dist
dist/
dist-electron/
dist-ssr/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
*.exe
*.dmg
*.AppImage
*.deb
*.rpm
*.zip
*.tar.gz

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System
Thumbs.db
.DS_Store
.cache
